.navbar{
    margin-left: 25% ;
    margin-right: 20%;
}


#clima {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#clima p {
    margin: 10px 0;
}