.navbar{
    margin-left: 25% ;
    margin-right: 20%;
}


.row{
    padding-bottom: 20px;
}

.list-group{
    margin-left: 20% ;
    margin-right: 20%;
}

h4{
    padding-bottom: 10px;
}

.mapa{
    padding-top: 10px;
}


